PORT=5000
NODE_ENV=production

MONGODB_URI=
BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=30d

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=
AUTH_INSTAGRAM_ID=
AUTH_INSTAGRAM_SECRET=
AUTH_LINKEDIN_ID=
AUTH_LINKEDIN_SECRET=
AUTH_TWITTER_ID=
AUTH_TWITTER_SECRET=

FRONTEND_URL=https://timely-socials.vercel.app
BACKEND_URL=
