@import "tailwindcss";

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";


@theme {
  --color-teal: #00DDFF;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}